* {
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto;
  font-size: 13px;
  line-height: 1.42857143;
  color: #5E5E5E;
  background-color: #edecec;
  width: 100%;
}


.header {
  width: 100%;
  background-color:#41B3A2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
}

.btn-login {
  padding: 10px;
  width: 100px;
  color: white;
  border: none;
  background-color:#FF9800;
  margin-right: 40px;
  font-size: 18px;
  font-family: Roboto;
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
  
}

.logo {
  vertical-align: middle;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  color: white;
}

.main-welcome {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 690px;
  
}

.content-welcome {
  /* background-color: #0E15A1; */
  height: 100px;
  width: 50%;
}

.content-welcome-isi {
  text-align: center;
  font-size: 35px;
  font-family: Roboto;
  margin-bottom: 20px;
  
}

.content-welcome p {
  text-align: center;
  font-size: 25px;
  margin-top: 0;
  font-family: Roboto;
  line-height: 30px;
}

.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 790px;
  background-color: #41B3A2 ;
}
.content-login {
  
  width: 350px;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: arial;
  color: rgb(7, 7, 7);
}

.username {
  padding: 10px;
  width: 95%;
  border: none;
  margin-bottom: 20px;
}

.password {
  padding: 10px;
  width: 95%;
  border: none;
  margin-top: 0;
  margin-bottom: 20px;
}

.btn-in {
  padding: 10px;
  border: none;
  background-color:#2196F3;
  color: white;
  width: 100px;
  
   box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
  
}



/* main-dashboard */

.main-dashboard {
  padding: 0;
  margin: 0;
  background-color: #41B3A2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .16);
  
}

.thumbnail-profil {
  
  vertical-align: middle;
  display: grid;
  grid-template-columns: 90px 5px;
  
  
  
}

.btn-logout {
  border: none;
  background-color: #ec3e03;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  font-family: Roboto;
  padding: 16px 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
  
 
  
}





.header-dashboard {
  vertical-align: middle;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: roboto;
  color: white;
}

.mahasiswa-nama-profil {
  color: white;
  font-family: arial;
  padding: 10px;
}

.main {
  display: grid;
  grid-template-columns: 300px 978px;
  column-gap: 2px;
  
  row-gap: 10px;
  
}

aside {
  
  
  background-color: white;
 box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  
  /* min-height: 600px; */
  
}


.menu-dashboard {
  
  color: #000000;
  background-color: rgb(248, 248, 248, .65);
  text-align: center;
  padding: 30px;
  font-family: arial;
  border-bottom: 2px solid rgba(0, 0, 0, .15);;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  
  
 
}

.img-mhs { 
  border-radius: 80px;
  width: 80px;
  margin-bottom: 10px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12); */

  
}

.nama-mhs {
  font-size: 13px;
  font-family: roboto;
  font-weight: 400;
  color: rgb(94,94,94);
  margin-bottom: 5px;
}

.nim-mhs {
  font-size: 12px;
  color: rgb(94,94,94);
  margin-bottom: 25px;
  font-family: roboto;
}


.info-profile {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0px;
}

.btn-lihat-profil {

  padding: 10px 15px;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
  background-color: #FF9800;
  color: #fff;

}

.btn-lihat-foto {
padding: 10px 15px;
border: none;
text-transform: uppercase;
box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
background-color: #2196F3;
color: #fff;

}




/* navigasi menu side */
.sidebar {
  margin: 0;
  padding: 0;
  /* width: 200px; */
  /* background-color: #f1f1f1; */
  /* position: fixed; */
  /* height: 100%; */
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: roboto;
  font-weight: 400;
 
}

/* Active/current link */
.sidebar a.active {
  background-color: rgb(246, 246, 246);
  color: rgb(23, 22, 22);
}

.sidebar a:hover:not(.active) {
  background-color: rgb(244, 244, 244);
 color: rgb(23, 22, 22);
}





.content-dashboard {
  
  
  background-color:rgba(246, 246, 246, 0.1);
  padding: 50px;
  
  
  
}


.info-footer{
  display: grid;
  grid-template-columns: 1280px;
 
}
.footer {
  padding: 20px;
  background-color:#41B3A2;
  font-family: arial;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
}

.footer p{
  color: white;
  font-family: roboto;
  font-size: 15px;
}




.content-dashboard-isi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;
  margin-top: 10px;
  
}



.ktm-content-front {
  
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
}

.ktm-pic {
  width: 100%;
}

.dosen-pa {
  background-color: rgb(255, 255, 255);
  padding: 14px;
  font-size: 16px;
  font-family: roboto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
  
}

.status-mhs{
  background-color: rgb(255, 255, 255);
  min-height: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
  padding: 10px;
  font-family: arial;
  font-size: 18px;
}

.status-info {
  padding: 12px;
  background-color: #FF9800;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: roboto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
}

.status-semester {

  padding: 12px;
  background-color:#2196F3;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: roboto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
  margin-top: 10px;

}



.dosen-pa {
  display: flex;
  gap: 10px;
  
}

.pa-pic {
  width: 50px;
  border-radius: 50px;
}

.pic-pembimbing {
  margin-top: 0px;
}



.info-TA {
  background: #ffffff;
  padding: 10px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 20px;
}


.table-krs {

background-color: #fff;
padding: 10px;
border-radius: 10px;

}
.table-krs table {
  border: 0;
  width: 100%;
  
}

table .kosong {
  text-align: center;
  padding: 20px;
}

.btn-tambah-mk {
  padding: 10px 12px;
  background-color: #2196F3;
  border: none;
  color: white;
  margin-bottom: 10px;
}

.btn-tambah-mk a {
  text-decoration: none;
  color: #fff;
}


